@import "mixins";
@import "variables";
@import "icon-font";
@import "loaders";

//Body and Layout -----
//=====================
	body {
		background-color: #6c6200;
	  	background: url('../images/bg.jpg') no-repeat center fixed;
		@include cover();
		@include borderbox();
		@include legible();
		color: $text;
		font-family: $open-sans;
		padding: $top-padding 20px 0px;

		@media all and (max-width: $medium) {
			padding: $top-padding 0px 0px;
		}

		@media all and (max-width: $small) {
			padding-top: $top-padding - 20px;
			margin: 3px 0;
			background: $background-color;
		}
		// Landscape device styles
		@media only screen 
		and (min-device-width: 320px) 
		and (max-device-width: 736px) 
		and (orientation: landscape) { 
			padding-top: $top-padding - 70px;
			header {
				padding: 5px;
				h1 {
					font-size: 2em;
				}
			}
			#main-nav {
				top: 69px;
				.contact {
					padding: 10px;
					margin: 5px auto;
				}
			}

		}

	}

	main {
			@include flexbox();
			justify-content: center;
			flex-wrap: wrap;
			@media all and (max-width: $large) {
				display: block;
			}
		
	}

	// Sections: 2 items per row for large screens ---- 
		section {
			@include flex(1 49%);
			max-width: 49%;
			margin: .5%;
			margin-bottom: 20px;
			background: #222;
			background: $section-bg;
			border: $borders;
			position: relative;
			@include borderbox();
			@include shadow();
			.project-title {
				margin: 0;
				padding: 10px;
			}
			@media all and (max-width: $large) {
				max-width: 1200px;
				width: 100%;
				margin: 0 auto 20px;
			}

			@media all and (max-width: $small) {
				margin-bottom: 10px;
				border-left: none;
				border-right: none;
			}
		}

// Basic markup styles -------
//----------------------------
	.screenreader-text {
		position: absolute;
		text-indent: -9999px;
	}
	button {
		background: none;
		border: none;
	}
	p {
		color: inherit;
		font-size: 1em;
		margin:  20px auto;
		max-width: 720px;
		padding: 0 20px;
		line-height: 1.618;
		clear: both;
		@media all and (max-width: $small) {
			padding: 0 10px;
			line-height: 1.7;
		}
	}
	a {
		color: inherit;
		font-weight: bold;
	}

	img {
		max-width: 100%;
	}

	// Headers
		header {
			h1, h2 {
				margin: 0;
			}
		}
		h1, h2, h3 {
			font-family: $lato;
			font-weight: 300;
			text-transform: uppercase;
		}
		h1 {
			@include font-size(4);
		}
		h2 {
			@include font-size(2);
		}
		h3 {
			@include font-size(3);
		}

		@media all and (max-width: $small) {
			h1 {
				@include font-size(3.618);
			}
			h2 {
				@include font-size(1.618);
			}
			h3 {
				@include font-size(2.618);
			}
		}

	.media-icons {
		max-width: 720px;
		margin: 20px auto;
		display: block;
		border-top: $borders;
		border-bottom: $borders;
		list-style-type: none;
		padding: 5px 10px;
		@include clearfix();
		li {
			float: left;
			margin-right: 25px;
			a {
				text-decoration: none;
				font-size: 30px;
			}
		}
	}

// Chrome -------------
//---------------------
	.chrome {
		left: 0;
		padding: 20px 10px;
		width: 100%;
		background: $chrome-bg;
		border-bottom: $borders;
		@include flexbox();
		@include borderbox();
		@include shadow();
		color: $chrome-text;
	}

	header {
		@extend .chrome;
		position: fixed;
		top: 0;
		z-index: 1000;
		justify-content: space-between;
		
		.navigation {
			cursor: pointer;
			font-size: 50px;
			color: white;
			@media all and (max-width: $small) {
				font-size: 35px;
			}
			a {
				text-decoration: none;
			}
		}
	}

	footer {
		@extend .chrome;
		position: absolute;
		left: 0;
		display: block;
		h3 {
			margin: 0;
		}
		p {
			margin: 20px 10px;
		}
	}

	#main-nav {
		z-index: 10000;
		display: none;
		&.is-active {
			display: inline;
		}
		@include borderbox();
		position: fixed;
		width: 100%;
		height: 100%;
		top: $top-padding - 20px;
		left: 0;
		background: #4e4700;
		background: $cell-color;
		.contact {
			background: rgba(0,0,0,0.25);
			text-align: center;
			@include borderbox();
			@include clearfix();
			margin: 50px auto;
			max-width: 250px;
			width: 100%;
			border: $borders;
			list-style-type: none;
			padding: 20px;
			li {
				@include font-size(2);
				padding: 10px 0;
			}
			.media-icons {
				@include flexbox();
				li {
					@include flex(1 25%)
				}
			}
		}
		@media all and (max-width: $small) {
			top: $top-padding - 29px;
		}
	}

// Image holder
	.image-holder {
		img {
			border-top: $borders;
			border-bottom: $borders;
		}
		.photo-credit {
			@include font-size(1.1);
			text-transform: uppercase;
			text-align: right;
			margin: -5px 0 0;
			background: $trans-black;
			padding: 5px;
			font-weight: 400;
			color: darken(white, 20%);
			border-bottom: $borders;
			max-width: 100%;
		}
	}


