@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans");
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?2joorm");
  src: url("../fonts/icomoon.eot?2joorm#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?2joorm") format("truetype"), url("../fonts/icomoon.woff?2joorm") format("woff"), url("../fonts/icomoon.svg?2joorm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */ }
  [class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.icon-spinner:before {
  content: "\e97a"; }

.icon-menu:before {
  content: "\e9bd"; }

.icon-mail:before {
  content: "\ea83"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-youtube:before {
  content: "\ea9d"; }

.icon-vimeo2:before {
  content: "\eaa1"; }

.icon-github:before {
  content: "\eab0"; }

.icon-soundcloud2:before {
  content: "\eac4"; }

.icon-linkedin:before {
  content: "\eac9"; }

#loader {
  background: #6c6200;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

#spinner {
  animation: spin 1.5s linear infinite;
  font-size: 60px;
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px); }

body {
  background-color: #6c6200;
  background: url("../images/bg.jpg") no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cfcec9;
  font-family: "Open Sans", sans-serif;
  padding: 132px 20px 0px; }
  @media all and (max-width: 1024px) {
    body {
      padding: 132px 0px 0px; } }
  @media all and (max-width: 640px) {
    body {
      padding-top: 112px;
      margin: 3px 0;
      background: #6c6200; } }
  @media only screen and (min-device-width: 320px) and (max-device-width: 736px) and (orientation: landscape) {
    body {
      padding-top: 62px; }
      body header {
        padding: 5px; }
        body header h1 {
          font-size: 2em; }
      body #main-nav {
        top: 69px; }
        body #main-nav .contact {
          padding: 10px;
          margin: 5px auto; } }

main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  @media all and (max-width: 1824px) {
    main {
      display: block; } }

section {
  -webkit-box-flex: 1 49%;
  -moz-box-flex: 1 49%;
  -webkit-flex: 1 49%;
  -ms-flex: 1 49%;
  flex: 1 49%;
  max-width: 49%;
  margin: .5%;
  margin-bottom: 20px;
  background: #222;
  background: rgba(0, 0, 0, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.22);
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -3px 3px 20px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -3px 3px 20px -6px rgba(0, 0, 0, 0.7);
  box-shadow: -3px 3px 20px -6px rgba(0, 0, 0, 0.7); }
  section .project-title {
    margin: 0;
    padding: 10px; }
  @media all and (max-width: 1824px) {
    section {
      max-width: 1200px;
      width: 100%;
      margin: 0 auto 20px; } }
  @media all and (max-width: 640px) {
    section {
      margin-bottom: 10px;
      border-left: none;
      border-right: none; } }

.screenreader-text {
  position: absolute;
  text-indent: -9999px; }

button {
  background: none;
  border: none; }

p {
  color: inherit;
  font-size: 1em;
  margin: 20px auto;
  max-width: 720px;
  padding: 0 20px;
  line-height: 1.618;
  clear: both; }
  @media all and (max-width: 640px) {
    p {
      padding: 0 10px;
      line-height: 1.7; } }

a {
  color: inherit;
  font-weight: bold; }

img {
  max-width: 100%; }

header h1, header h2 {
  margin: 0; }

h1, h2, h3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

h1 {
  font-size: 2.472em; }

h2 {
  font-size: 1.236em; }

h3 {
  font-size: 1.854em; }

@media all and (max-width: 640px) {
  h1 {
    font-size: 2.23592em; }
  h2 {
    font-size: 0.99992em; }
  h3 {
    font-size: 1.61792em; } }

.media-icons {
  max-width: 720px;
  margin: 20px auto;
  display: block;
  border-top: 1px solid rgba(255, 255, 255, 0.22);
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  list-style-type: none;
  padding: 5px 10px; }
  .media-icons:before, .media-icons:after {
    content: "";
    display: table; }
  .media-icons:after {
    clear: both; }
  .media-icons li {
    float: left;
    margin-right: 25px; }
    .media-icons li a {
      text-decoration: none;
      font-size: 30px; }

.chrome, header, footer {
  left: 0;
  padding: 20px 10px;
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: -3px 3px 20px -6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -3px 3px 20px -6px rgba(0, 0, 0, 0.7);
  box-shadow: -3px 3px 20px -6px rgba(0, 0, 0, 0.7);
  color: #cfcec9; }

header {
  position: fixed;
  top: 0;
  z-index: 1000;
  justify-content: space-between; }
  header a {
    text-decoration: none;
    font-size: 50px; }
    @media all and (max-width: 640px) {
      header a {
        font-size: 35px; } }

footer {
  position: absolute;
  left: 0;
  display: block; }
  footer h3 {
    margin: 0; }
  footer p {
    margin: 20px 10px; }

#main-nav {
  z-index: 10000;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 112px;
  left: 0;
  background: #4e4700;
  background: rgba(78, 71, 0, 0.9); }
  #main-nav.is-active {
    display: inline; }
  #main-nav .contact {
    background: rgba(0, 0, 0, 0.25);
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 50px auto;
    max-width: 250px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.22);
    list-style-type: none;
    padding: 20px; }
    #main-nav .contact:before, #main-nav .contact:after {
      content: "";
      display: table; }
    #main-nav .contact:after {
      clear: both; }
    #main-nav .contact li {
      font-size: 1.236em;
      padding: 10px 0; }
    #main-nav .contact .media-icons {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      #main-nav .contact .media-icons li {
        -webkit-box-flex: 1 25%;
        -moz-box-flex: 1 25%;
        -webkit-flex: 1 25%;
        -ms-flex: 1 25%;
        flex: 1 25%; }
  @media all and (max-width: 640px) {
    #main-nav {
      top: 103px; } }

.image-holder img {
  border-top: 1px solid rgba(255, 255, 255, 0.22);
  border-bottom: 1px solid rgba(255, 255, 255, 0.22); }

.image-holder .photo-credit {
  font-size: 0.6798em;
  text-transform: uppercase;
  text-align: right;
  margin: -5px 0 0;
  background: rgba(0, 0, 0, 0.75);
  padding: 5px;
  font-weight: 400;
  color: #cccccc;
  border-bottom: 1px solid rgba(255, 255, 255, 0.22);
  max-width: 100%; }
